.header{
	background-image:url("../images/header_images.jpg");
	 .header-block{
	 	float:none;
	 	margin:0 auto;
	 	padding-top: 3%;
	 	padding-bottom: 3%;
	 	color:white;

	 }
}
.main{
	.main-block{
		float:none;
		margin:0 auto;
		 .footer{
		 	border-top: 6px solid;
		 	
		 }
	}
}
.profile1-page{
	.header1{
		.introduction{
			float:none;
			margin:0 auto;
			   .brder-box{
			   	  border:1px solid;
			   	  background:black;
			   	  color:white;
			   	  font-size:25px;
			   	  color: white;
			   	  padding:4px;
			   }
		}
	}
}