.main{
	.main-block{
	float:none;
	margin:0 auto;
	 .row{
	 	.brder{
	 		.brder1{
		 		float:none;
		 		margin:0 auto;
		 	}
	 	}
	 }
}
}
.brder{
	border:1px solid;
	border-radius:10%;
	padding-top:2%;
	padding-bottom:8%;
	margin-top:10px;
}
.brder1{
	border:1px solid;
	border-radius:0;
}
