.main{
	
	 .row{
	 	.brder{
	 		.brder1{
		 		float:none;
		 		margin:0 auto;
		 	}
	 	}
	 }

}
.brder{
	border:1px solid;
	border-radius:10%;
	padding-top:2%;
	padding-bottom:8%;
	margin-top:10px;
		&.first-block{
			background:#ED1557;
			color: white; 
		}
		&.second-block{
			background:#27BDBE;
			color: white; 
		}
		&.second1-block{
			background:#B1D34A;
			color: white; 
		}
		&.third-block{
			background:#14B1E7;
			color: white; 
		}
		&.fourth-block{
			background:#F7941E;
			color: white; 
		}
		&.fourth1-block{
			background:#682F75;
			color: white; 
		}
}
.brder1{
	border:1px solid;
	border-radius:0;
	color:black;
	background:white;
}


 